@{
    ViewData["Title"] = "Internal Server Error";
}

<div class="container text-center mt-5">
    <h1 class="display-4 text-danger">500 - Internal Server Error</h1>
    <p class="lead">Oops! Something went wrong on our end. Please try again later.</p>
    <a class="btn btn-primary" href="/">Return to Home</a>
</div>